@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    outline: 0px;
    /* list-style-type: none; */
    text-decoration: none;
    color: black;
    transition-duration: 0.5s;
    scroll-behavior: smooth;
    font-family: "Rubik", serif;
    font-weight: 400;
}

body {
    background-color: var(--primary2);
    --primary1: #FBD0D0;
    --primary2: #FBF0E8;
    --secondary1: #F9688D;
    --secondary2: #534859;
    overflow-x: hidden;
}

.latice{
    transition-duration: 2s;
    position:absolute;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    opacity: 1;
}

.mainPanel{
    background-image: url(images/pozadina.jpg);
    background-size: 100vw 100vh;
    width: 100vw;
    height: 100vh;
    filter: grayscale(100%);

    opacity: 0;
}

.yingYang{
    width: 200px;
    height: 200px;
}

.loadDiv{
    position: absolute;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    transition-duration: 2s;

    opacity: 0;
}
.loadTitle p{
    color: var(--secondary2);
    font-size: 60px;
    text-shadow: 
    2px 2px 5px var(--primary1),
    -2px -2px 5px var(--primary1);
}
.loadTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 450px;
    border: 5px solid var(--primary1);
    border-radius: 50%;
    box-shadow: 0px 0px 20px var(--primary1);
}
.loadTitle:hover{
    cursor: pointer;
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100svh;
    opacity: 0;
    transition-duration: 2s;
}
.naslov{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.naslov > *{
    font-size: 5rem;
    color: var(--secondary2);
    text-align: center;
    text-shadow:
     2px 2px 2px var(--primary1),
     -2px -2px 2px var(--primary1);
}
.dole{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid var(--primary1);
    border-radius: 50%;
    transform: scale(70%);
    width: 3vw;
    height: 3vw;
}
.dole:hover{
    cursor: pointer;
}
.dole > *{
    transform: scale(70%);
    font-size: 30px;
    color: var(--primary1);
}




.header{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100vw;
    
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0px 0px;
    background-color: var(--secondary2);

    padding: 10px 10px;

    /* box-sizing: border-box; */

    opacity: 1;
}

.logo{
    width: 70px;
}
.logo2{
    transform: rotateZ(180deg);
}
.linkovi{
    display: flex;
    gap: 20px;
    margin: 0px 40px;


    padding: 10px 20px;
    border-radius: 50px;
    /* background-color: var(--secondary1); */
}
.linkovi a{
    color: var(--primary1);
    font-size: 25px;
}
.galerijaLink{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.ostaleGalerije{
    display: flex;
    flex-direction: column;
    text-align: center;
    /* gap: 10px; */

    margin-top: 30px;
    margin-left: -30px;
    position: absolute;
    padding-top: 30px;

    opacity: 0;
    display: none;

    border-radius: 0px 0px 10px 10px;
    background-color: var(--secondary2);
}
.ostaleGalerije a:last-child{
    border-radius: 0px 0px 10px 10px;
}
.galerijaLink:hover {
    display: flex;
    opacity: 1;
}
.ostaleGalerije a{
    padding: 10px;
}
.ostaleGalerije a:hover{
    background-color: var(--primary1);
    box-shadow: 2px 2px 10px var(--primary1),
    -2px -2px 10px var(--primary1);
    color: var(--secondary2);
    
}

.linkovi>a:hover, .linkovi .galerijaLink>a:hover{
    transform: scale(110%);
    text-shadow: 1px 1px 10px var(--primary1),
    -1px -1px 10px var(--primary1);
}


.wrap{
    display: flex;
    justify-content: center;
    /* gap: 20px; */
    /* padding: 0vw 2vw; */
    margin-top: 20px;
}

.navigation{
    width: 7vw;
    padding: 20px;
    background-color: var(--secondary2);
    border-radius: 10px;
    max-height: 300px;

    position: fixed;
    left: 1vw;
}
.navigation *{
    color: var(--primary1);
    
}
.navLista{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
    list-style-type: none;
}
.navLista li p{
    font-size: 20px;
    display: inline-block;
    /* text-decoration: underline; */
}
.navLista li i{
    /* font-size: 20px; */
}
.navLista li p::after{
    content: "";
    display: flex;
    background-color: var(--primary1);
    width: 10%;
    height: 2px;
    transition-duration:1s ;
}
.navLista li p:hover::after{
    content: "";
    display: flex;
    background-color: var(--primary1);
    width: 0%;
    width: 100%;
    height: 2px;
}
.navLista li p::before{
    content: "\23";
    font-family: 'Font Awesome 5 Free';
}
.navLista li p:hover{
    cursor: pointer;
}
.navNaslov{
    font-size: 30px;
    text-align: center;
}

.main{
    width: 75vw;
    border-radius: 10px;
    padding: 1vw;
    /* margin: 0vw 10vw; */
    background-color: var(--primary1);
}
.main *{
    color: var(--secondary2);
}

.mainImage{
    width: 55vw;
    height: 30vw;
    /* margin-bottom: 30px; */
    /* margin-left: 240px; */
    margin-top: 20px;
    border-radius: 10px;
}
.mainElement{
    display: flex;  
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid var(--secondary2);
    margin-bottom: 50px;
}

.mainNaslov{
    font-size: 35px;
    text-align: center;
    text-decoration:wavy;
}
.mainText{
    font-size: 20px;
    margin: 20px 0px 50px 0px;
    text-align: center;
    max-width: 55vw;
}
.legenda{
    width: 7vw;
    padding: 20px;
    background-color: var(--secondary2);
    border-radius: 10px;
    max-height: 300px;

    position: fixed;
    right: 1vw;
}
.legenda *{
    color: var(--primary1);
}
.zastava{
    width: 7vw;
}


.fv{
    width: 100vw;
    height: 100vh;
}

.gore{
    transform: translateY(-5px);
}